<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/catalog.css">

</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <!--      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url();"></a>-->
            <ul class="list-unstyled components mb-5">
                <li><img style="border-radius: 50%" width="200px" height="200px" th:src="@{/image/tanjiro.jpg}"></li>
                <li class="active">
                    <a href="/adminController/admin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Material-dashboard</a>
                </li>
                <li>
                    <a href="/catalogController/catalog">Catalog Manager</a>
                </li>
                <li>
                    <a href="/productController/getAll" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Product Manager</a>

                </li>
                <li>
                    <a href="/getAll">User Manager </a>
                </li>
                <li>
                    <a href="/cartController/order">Order Manager</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Procduct Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catalog Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">User Manager</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div >
            <form action="/productController/update" method="post" enctype="multipart/form-data" style="width: 100%;  margin: 0 auto;">
                <div style="align-items: center ;margin-left: 15px">
                    <div>
                        <label>Product ID:</label>
                        <input readonly style=" margin-left: 36px;" type="text" placeholder="..." name="idP"
                               th:value="${product.idP}">
                    </div>
                    <div>
                        <label>Product name:</label>
                        <input type="text" placeholder="..." name="nameC" th:value="${product.nameC}">
                    </div>

                    <div>
                        <label>Product Title:</label>
                        <input style="margin-left: 21px" type="text" placeholder="..." name="title" th:value="${product.title}">
                    </div>
                    <div>
                        <label>Product Price:</label>
                        <input style="margin-left: 19px" type="text" placeholder="..." name="priceP" th:value="${product.priceP}">
                    </div>
                    <div class="mt-2">
                        <label> Quantity:</label>
                        <input style="margin-left: 50px" type="number" placeholder="..." name="quantity" th:value="${product.quantity}">
                    </div>
                    <div class="mt-2">
                        <label>Product Stattus:</label>
                        <select name="status">
                            <option th:value="${product.status}" th:text="${product.isStatus() ? 'con hang' : 'het hang'}"></option>
                            <option th:value="${!product.status}" th:text="${!product.isStatus() ? 'con hang' : 'het hang'}"></option>
                        </select>
                    </div>

                </div>
                <div>

                </div>
               <div style="margin-left: 15px">
                   <select name="idC">-->
                       <option value="idC" th:value="${product.catalog.idC}"
                               th:text="${product.catalog.nameC}"></option>
                       <th:block th:each="catalog : ${listCatalog}">
                           <option th:value="${catalog.getIdC()}" th:text="${catalog.getNameC()}"></option>
                       </th:block>
                   </select>
                   <div class=" mt-2">
                       <input type="file" name="image">
                   </div>
                   <div class="mt-3">
                       <button class="btn btn-success">Update</button>
                   </div>
               </div>
            </form>


        </div>
    </div>
</div>


</body>
</html>