.select-option{
    padding: 9px;
    border-radius: 5px;
}
.select-option :hover{
    background-color: rgb(118, 118, 118);
}
.form_table{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
