<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" th:href="@{/css/boostrap.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<section class="vh-100" style="background-color: #619acb;">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img th:src="@{/image/adidas.jpg}"
                             alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form th:action="@{/register}" method="post">

                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    <h1 style="font-size: 75px">Register</h1>
                                </div>

                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
                                    account</h3>

                                <div class="form-outline mb-4">
                                    <input style="font-size: 1.5rem" type="text" id="form2Example17" class="form-control form-control-lg"
                                           name="username"/>

                                    <label class="text_label" for="form2Example17">Username</label>
                                    <div th:if="${username}" class="alert alert-danger" role="alert">
                                        <span th:text="${username}"></span>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <input style="font-size: 1.5rem" type="text" class="form-control form-control-lg" name="fullName"/>
                                    <label class="text_label" for="form2Example27">Full Name </label>
                                    <div th:if="${fullName}" class="alert alert-danger" role="alert">
                                        <span th:text="${fullName}"></span>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input style="font-size: 1.5rem" type="text" id="" class="form-control form-control-lg"
                                           name="phone_number"/>
                                    <label class="text_label" for="form2Example27">Phone Number</label>
                                    <div th:if="${phone_number}" class="alert alert-danger" role="alert">
                                        <span th:text="${phone_number}"></span>
                                    </div>

                                </div>
                                <div class="form-outline mb-4">
                                    <input style="font-size: 1.5rem" type="text" class="form-control form-control-lg"
                                           name="address"/>
                                    <label class="text_label" for="form2Example27"> Address</label>
                                    <div th:if="${address}" class="alert alert-danger" role="alert">
                                        <span th:text="${address}"></span>
                                    </div>

                                </div>



                                <div class="form-outline mb-4">
                                    <input style="font-size: 1.7rem" type="password" id="form2Example27" class="form-control form-control-lg"
                                           name="password"/>
                                    <label class="text_label" for="form2Example27">Password</label>
                                    <div th:if="${password}" class="alert alert-danger" role="alert">
                                        <span th:text="${password}"></span>
                                    </div>
                                    <div th:if="${passwordCheck}" class="alert alert-danger" role="alert">
                                        <span th:text="${passwordCheck}"></span>
                                    </div>
                                </div>


                                <div class="pt-1 mb-4">
                                    <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                                </div>
                                <a class="text_label" href="/login" style="color: #393f81;">Login here </a><br>
                                <a class="text_label" href="/" style="color: #393f81;">Back to Home Page</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>